<%- include('../partials/header') %>  

  <body>

    <div class='container-sm'>
      <h1>Lists</h1>
      <table class='table table-sm'>
        <tr>
          <th>List</th>
          <th></th>
        </tr>
      <% user.lists.forEach(l => { %>
        <tr>
          <td><a href='/lists/<%= l._id %>'><%= l.listName %></a></td>
          <td>
            <form action='lists/<%= l._id %>?_method=DELETE' method='POST'>
              <button type='submit'>Delete</button>
            </form>
          </td>
        </tr>
      <% }) %>
      </table>
      <a href='/lists/new'>New List</a>
    </div>

    



  </body>


</html>
