<%- include('../partials/header') %>  

    <div class='container-sm'>
      <table class='table table-sm'>
      <% user.lists.forEach(l => { %>
        <tr>
          <td class='big-list'>
            <form action='lists/<%= l._id %>?_method=DELETE' method='POST'>
              <button type='submit'><i class="fas fa-times"></i></button>
            </form>
          </td>
          <td class='big-list'><a href='/lists/<%= l._id %>'><%= l.listName %></a></td>
        </tr>
      <% }) %>
      </table>
    </div>  
      <form class='pin-bottom'>
        <div class='pin-90 text-center'>
          Generate New List
        </div>
        <div class='pin-10 text-center'>
          <a href='/lists/new'><i class="fas fa-plus"></i></a>
        </div>
      </div>
      
    

    



  </body>


</html>
