body {
  width: 100vw;
}

.navbar {
  position: fixed;
  width: 100%;
  top:0px;
  background-color: #284B63;
}

.navbar a {
  color:white;
}

.pin-top {
  display: flex;
  justify-content: space-between;
}

.nav {
  
}

.pin-top-2 {
  position: fixed;
  width: 100%;
  top:49px;
  display: flex;
  justify-content: space-evenly;
  background-color: white;
  padding:10px 0;
  background-color: #D9D9D9;
  list-style: none;
  margin-bottom: 25px;
}

.pin-top-2 a {
  color:black;
  font-size:1.2em;
}

.subnav {
  margin: 0 5px;
}

.pin-top-left {
  display: flex;
  justify-content: flex-start;
}
.pin-top-right {
  display: flex;
  justify-content: flex-end;
}

.delete-col {
  width: 10%;
}

.ingredients-col{
  width:40%;
}

.section-col{
  width:20%;
}

.amount-col{
  width:30%;
}



/* Bottom Pin */

.row {
  width:90%;
  margin: 0 auto;
  padding: 20px 0;
  align-items: center;
}

.pin-bottom {
  position: fixed;
  width: 100%;
  bottom: 0px;
  background: white;
  z-index: 0;
  width:100%;
  display:flex;
  justify-content:space-between;
  padding: 10px 10px;
  align-items: center;
  background-color: #3C6E71;
  color: white;
  font-size: 1.2em;
}

.pin-90 {
  width: 85%;
  margin: 2.5px;
}

.pin-45 {
  width: 40%;
  margin: 2.5px;
}

.pin-10 {
  width:7%;
  height:30px;
  background-color: #3c6E71;
}

.pin-10 a {
  margin: 0;
}

input {
  width: 100%;
  border: 2px solid white;
  background-color: #3C6E71;
  color:white;
  padding: 5px;
}

button {
  background-color: white;
  border: none;
}

::placeholder {
  color: white;
  opacity: 0.5;
}

/* List Page */

@media only screen and (max-width: 500px) {
  .name {
    display:none;
  }
}

.pin-10 button {
  background-color: #3C6E71;
  padding:0;
}

.fa-times {
  color:red;
}

.fa-plus {
  color:white;
  background-color: #3c6E71;
}

.active-page {
  font-weight: 700;
}

.big-list a {
  font-size: 1.5em;
  color: #3C6E71
}

.big-list button {
  height: 40px;
}

.pin-bottom a {
  color: white;
  font-size: 1em;
  margin-left: 15px;
  height: 67px;
}

.form-group input {
  background-color: white;
  border: 2px solid black;
  color: black;
}

.generate-button {
  background-color: #3C6E71;
  text-align: center;
  color:white;
  height: 67px;
  font-size:1.2em;
}

#ingredients-table input {
  padding:0;
  background-color: white;
  border: 1px solid #3C6E71;
  color: #3C6E71;
  text-align:center;
}

#ingredients-table td {
  padding-left: 0.05em;
  padding-right: 0.05em;
}

#ingredients-table.delete {
  margin-right: 0.3m;
}

.name {
  color:white;
}

li {
  list-style:none;
}

.container-sm {
  margin-top:120px;
  margin-bottom: 90px;
}

@media only screen and (min-width: 500px) {
  .container-sm {
    width: 50%;
  }

  .pin-bottom {
    padding-left: 25%;
    padding-right:25%;
  }
}




