<%- include('../partials/header') %>  

  <body>

    <div class='container-sm'>
      <table class='table table-sm'>
        <tr>
          <th class='delete-col'></th>
          <th>Ingredient</th>
          <th>Amount</th>
        </tr>
          <% user.staples.forEach(s => { %>
            <tr>
              <td>
                <form action='staples/ingredient/<%= s.ingredient._id %>?_method=DELETE' method='POST'>
                  <button type='submit'><i class="fas fa-times"></i></button>
                </form>
              </td>
              <td><%= s.ingredient.ingredientName %></td>
              <td><%= s.amount %></td>
            </tr>
          <% }) %>
      </table>
      
    </div>
    <form class='pin-bottom' action='/staples' method='POST'>
      <div class='pin-45 text-center'>
        <input autocomplete='off' required type="text" name="ingredientName" placeholder='ingredient' autofocus>
      </div>
      <div class='pin-45 text-center'>
        <input autocomplete='off' required type="text" name="amount" placeholder='amount'>
      </div>
      <div class='pin-10 text-center'>
        <button type="submit"><i class="fas fa-plus"></i></button>
      </div>          
    </form>
    
  </body>


</html>
