<%- include('../partials/header') %>  

  <body>

    <div class='container-sm'>
      <h1>Staples</h1>
      <table class='table table-sm'>
        <tr>
          <th class='delete-col'></th>
          <th>Ingredient</th>
          <th>Amount</th>
        </tr>
          <% user.staples.forEach(s => { %>
            <tr>
              <td>
                <form action='staples/ingredient/<%= s.ingredient._id %>?_method=DELETE' method='POST'>
                  <button type='submit'>X</button>
                </form>
              </td>
              <td><%= s.ingredient.ingredientName %></td>
              <td><%= s.amount %></td>
            </tr>
          <% }) %>
      </table>
      
    </div>
    <form class='pin' action='/staples' method='POST'>
      <div class='row'>
        <div class='pin-40 text-center'>
          <input autocomplete='off' required type="text" name="ingredientName" placeholder='ingredient'>
        </div>
        <div class='pin-40 text-center'>
          <input autocomplete='off' required type="text" name="amount" placeholder='amount'>
        </div>
        <div class='pin-20 text-center'>
          <button type="submit">+</button>
        </div>          
      </div>
    </form>
    
  </body>


</html>
